
.my-list {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("../Home/images/dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}


@media (max-width: 800px) {
  .my-list{
    padding-top: 5vh;
  }
}

.my-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-list .movie-card {
    position: relative;
}

.my-list h1 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #dedede;
}

.my-list .pagination-component {
    display: flex;
    justify-content: center;
}

.pagination-component .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.pagination li {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s linear;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #67e8f9;
    margin: 5px;
}

.pagination li:hover {
    transform: scale(1.2);
    color: #67e8f9;
}