.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("./images/dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.bottom-area{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 900px) {
    .bottom-area  {
     flex-direction: column-reverse;
     align-items: center;
    }
  }